.twistyHidden {
	DISPLAY: none
}
.twistyVisible {
	
}
.twistyMakeVisible {
	DISPLAY: none
}
.twistyMakeHidden {
	
}
.twistyTransparent {
	VISIBILITY: hidden
}
.twistyOpaque {
	
}
.twistyMakeOpaque {
	VISIBILITY: hidden
}
.twistyMakeTransparent {
	
}
.twistyPlaceholder {
	
}
.twistyRememberSetting {
	
}
